body{
    background-color:#AEC6CF;
    text-align: center;
    color: aliceblue;
    font-family:monospace;
}
a{
    color:darkorchid;
    text-decoration: none;
}
main{
    font-size: 1.2em;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}
img{
    width: 25%;
    max-width: 400px;
    max-height: 400px;
}
ul{
    list-style-type: disc;
    text-align: left;
}
figcaption{
    font-style: italic;
}
@media(max-width:1024px){
    main{
        width: 95%;
    }
    img{
        width: 40%;
    }
}
@media(max-width:768px){
    img{
        width: 60%;
    }
    body{
        text-align: left;
    }
    main{
        width: 100%;
        padding:0 10px;
    }
}
table{
    width:60%;
    border-collapse: collapse;
    margin:auto
}
th{
    background-color: purple;
    color: white;
    text-align: left;

}
tr:nth-child(even){
    background-color: hsl(322, 85%, 71%);
}
tr:nth-child(odd){
    background-color: pink;
}
th,td{
    border:1px solid black;
    padding:8px
}
td:nth-child(4), td:nth-child(6){
    text-align: center;
}