body{
    background-color:#AEC6CF;
    text-align: center;
    color: aliceblue;
    font-family:monospace;
}
a{
    color:darkorchid;
    text-decoration: none;
}
main{
    font-size: 1.2em;
}
img{
    width: 25%;
    max-width: 400px;
    max-height: 400px;
}
ul{
    list-style-type: disc;
    text-align: left;
}
